:root {
    --size: 5rem;
    --color-text: black;
    --color-bg: white;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    color: var(--color-text, white);
    background: var(--color-bg)
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Monaco, Consolas, monospace;
    font-size: var(--size, 4rem);
}

.board {
    line-height: var(--size, 4rem);
    padding: 1rem;
    white-space: pre-wrap;
    user-select: none;
    cursor: pointer;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message {
    text-align: center;
}

.btn {
    font-family: inherit;
    font-size: calc(var(--size, 4rem) / 2);
    background: transparent;
    color: inherit;
    border: 2px solid var(--color-text, black);
    padding: 0.5rem 2rem;
    margin: 0 auto;
    cursor: pointer;
}

.hide {
    display: none;
}